<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <link href="https://v3.bootcss.com/examples/signin/signin.css" rel="stylesheet">
    <title>Blog</title>
</head>
<body>
<a href="{% url 'blog:index' %}">Index</a><a href="{% url 'blog:private' user.id %}">Home</a>
<a href="{% url 'blog:logout' %}">logout</a>
<form action="{% url 'blog:add_private' user.id %}" method="post">
    {% csrf_token %}
    <textarea name="text" cols="200" rows="40"></textarea>
    <input type="submit" value="submit" class="btn btn-primary">
</form>
</body>
</html>