<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <link href="https://v3.bootcss.com/examples/signin/signin.css" rel="stylesheet">
    <title>Blog</title>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
<div class="navbar-header">
<a href="{% url 'blog:private' user.pk %}">Home</a>
<a href="{% url 'blog:logout' %}">logout</a>
</div>
</nav>
{% if unread_msg %}
{% for i in unread_msg %}
<div class="panel panel-default">
    <div class="panel-header">
    <label>Time:{{ i.date }}</label>
    <label>from:{{ i.sender_id }}</label>
    </div>
    <div class="panel-body">
    <p><a href="{% url 'blog:check_one' i.id %}">{{ i }}</a></p>
    </div>
</div>
{% endfor %}
{% else %}
<p>You have no unread message</p>
{% endif %}
</body>
</html>